<div class="row">
<div class=" card col  m12 l6 xl4">

    <h1>Sign In </h1>
    {{#if hasErrors}}
     <div class="card-content red darken-1 white-text">
         {{messages}}
</div>
{{/if}}



    <form action="/signin" method='post' autocomplete="off">
<div class="form-group">
<label for="name">name</label>
<input type="text" id="name" name="name" >
</div>

<div class="form-group">
<label for="password">password</label>
<input type="password" id="password" name="password" >
</div>
<input type="hidden" name="_csrf" value={{csrfToken}}>
<p></p>
<button type="submit" class="waves-effect waves-light btn ">Sign Up</button>
<p></p>
CSRF TOKEN: {{csrfToken}}
<p></p>
    </form>
   
</div>

</div>